<!DOCTYPE html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <title>Job Search</title>

    <!-- Chart stuff -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.32/dc.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.0.0-beta.32/dc.css">
    <script type="text/javascript" src="/javascripts/new_jobs.js"></script>
    <script type="text/javascript" src="/javascripts/charts.js"></script>




    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-zhenwang.css"/>
    <link rel="stylesheet" href="css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin+Sans">

    <style
    ></style>
</head>
<body style="background-color: gainsboro">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!--<script src="javascripts/wz.js"></script>-->


<!--nav-->
<nav class="navbar navbar-default navbar-fixed-top" style="margin: 0;padding: 0">
    <div class="container">
        <!--nav button and logo-->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Job Search</a>
        </div>
        <!--nav-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home">Home</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--nav-->

<!--&lt;!&ndash;home&ndash;&gt;-->
<section id="logo" style="margin: 0;padding: 0">
    <div class="logo" style="height: 50px;margin: 0;padding: 0">

    </div>
</section>
<!--&lt;!&ndash;home&ndash;&gt;-->

<!--home-->
<section id="charts" style="margin-top:0">
    <div class="container" style="width: 95%">
        <div class="row wow fadeInUp" data-wow-duration="0.5s" style="box-shadow: 2px 2px 5px #888888;background-color: white">
            <div class="col-md-6" style="background-color: white;height: 300px;">
                <h2 style="font-family:Josefin Sans;letter-spacing: 1mm;font-weight: bold">Regions in NZ</h2>
                <!--hi Goldon:chart here-->
                <!--<div style="background-color: #00B7FF;height: 200px;width: 600px;margin: 0;border: 0;padding: 0">-->
                <div id="majorRegion">
                </div>

            </div>
            <div class="col-md-6" style="background-color: white;height: 300px;">
                <!--<a href="#" target="_blank">-->
                <h2 style="font-family:Josefin Sans;letter-spacing: 1mm;font-weight: bold">Cities in NZ</h2>
                <!--hi Goldon:chart here-->
                <!--</a>-->
                <div id="suburb">

                </div>
            </div>
        </div>

        <div style="height: 20px"></div>

        <div class="row wow fadeInUp" data-wow-duration="0.5s" style="box-shadow: 2px 2px 5px #888888;background-color: white">
            <div class="col-md-6" style="background-color: white;height: 300px;">
                <h2 style="font-family:Josefin Sans;letter-spacing: 1mm;font-weight: bold">Regions in NZ</h2>
                <!--hi Goldon:chart here-->
                <!--<div style="background-color: #00B7FF;height: 200px;width: 600px;margin: 0;border: 0;padding: 0">-->
                <div id="TypeRowChart">
                </div>

            </div>
            <div class="col-md-6" style="background-color: white;height: 300px;">
                <!--<a href="#" target="_blank">-->
                <h2 style="font-family:Josefin Sans;letter-spacing: 1mm;font-weight: bold">Cities in NZ</h2>
                <!--hi Goldon:chart here-->
                <!--</a>-->
                <div id="PayTypeRowChart">

                </div>
            </div>
        </div>

        <div style="height: 20px"></div>

        <div class="row wow fadeInUp" data-wow-duration="0.5s" style="box-shadow: 2px 2px 5px #888888;background-color: white">
            <div class="col-md-6" style="background-color: white;height: 300px;">
                <h2 style="font-family:Josefin Sans;letter-spacing: 1mm;font-weight: bold">Regions in NZ</h2>
                <!--hi Goldon:chart here-->
                <!--<div style="background-color: #00B7FF;height: 200px;width: 600px;margin: 0;border: 0;padding: 0">-->
                <table id="pageDataTable"></table>
              <div id="paging">
                Showing <span id="begin"></span>-<span id="end"></span> of <span id="size"></span>.
                <input id="last" class="btn" type="Button" value="Last" onclick="javascript:last()" />
                <input id="next" class="btn" type="button" value="Next" onclick="javascript:next()"/>
              </div>

            </div>
            <div class="col-md-6" style="background-color: white;height: 300px;">
                <!--<a href="#" target="_blank">-->
                <h2 style="font-family:Josefin Sans;letter-spacing: 1mm;font-weight: bold">Cities in NZ</h2>
                <!--hi Goldon:chart here-->
                <!--</a>-->
            </div>
        </div>

        <!--<div class="row wow fadeInUp" data-wow-duration="0.5s">-->
            <!--<div class="col-md-6" style="height: 300px;padding:10px;margin: 0;border: 0;">-->
                <!--<div style="width: 100%;background-color: white;height: 300px;box-shadow: 2px 2px 5px #888888;">-->
                    <!--<h3>Region</h3>-->
                    <!--&lt;!&ndash;//hi Goldon:chart here&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6" style="height: 300px;padding:10px;margin: 0;border: 0">-->
                <!--<div style="width: 100%;background-color: white;height: 300px;box-shadow: 2px 2px 5px #888888;">-->
                    <!--<h3>Job Style</h3>-->
                    <!--&lt;!&ndash;//hi Goldon:chart here&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>


</section>

</body>
</html>
